@use '../setting/setting' as *;
@use '../setting/mixin' as *;

.contact-form {
  width: 500px;
  padding: 17px 20px 35px;
  display: none;
  &.js--show {
    display: block;
  }
  & > p {
    padding: 20px 0;
    font-size: 14px;
    font-weight: 400;
    color: $c_gray;
    line-height: 1.4;
    text-align: center;
  }
  &__label {
    font-size: 12px;
    font-weight: 400;
    color: $c_darkgray;
  }
  &__input {
    width: 100%;
    height: 32px;
    margin-top: 9px;
    font-size: 14px;
    color: $c_gray;
    background: #fafafa;
    border-radius: 8px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    & input {
      width: 100%;
    }
    &.dropdown {
      padding: 0;
    }
    &.textarea {
      background: transparent;
      padding: 0;
      box-sizing: border-box;
      height: 120px;
      & textarea {
        display: block;
        width: 100%;
        height: 120px;
        resize: none;
        background: #f9f8ff;
        border-radius: 8px;
        padding: 12px 14px;
      }
    }

    & p {
      padding: 0 16px;
    }
  }
  &__dropdown {
    position: relative;
    margin-left: 0px;
    width: 100%;
    height: 40px;
    background-color: #f9f8ff;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    @include center;
    justify-content: left;
    cursor: pointer;
    @include after {
      background-image: url('../img/common/icon_dropdown.svg');
      background-size: 100% 100%;
      width: 7px;
      height: 7px;
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
    }
    &.js--open {
      & ul {
        height: 400%;
      }
    }
    & ul {
      width: 100%;
      height: 0;
      position: absolute;
      top: 32px;
      left: 0;
      overflow: hidden;
      border-radius: 6px;
      z-index: 2;
      transition: $transition;
      & li {
        padding-left: 16px;
        width: 100%;
        height: 32px;
        @include center;
        justify-content: flex-start;
        background-color: $c_bg;
        &:nth-child(2n + 1) {
          background-color: $c_white;
        }
        &:hover {
          background-color: rgba(249, 248, 255, 1);
        }
      }
    }
  }
  &__group {
    margin-top: 17px;
    &:first-of-type {
      margin-top: 0;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 12px;
    column-gap: 9px;
    &:first-of-type {
      margin-top: 0;
    }
  }

  &__button {
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    text-align: center;
    background: rgba(250, 250, 250, 1);
    color: rgba(153, 153, 153, 1);
    &.submit {
      background: $c_blue;
      color: #fff;
      font-weight: 700;
    }
  }
}
