@use '../setting/setting' as *;
@use '../setting/mixin' as *;

.game-create {
  &__form {
    margin-top: 12px;
  }

  &__form-item {
    margin-top: 18px;
    &:first-child {
      margin-top: 0;
    }
    & > label {
      font-size: 12px;
      font-weight: 400;
      color: $c_darkgray;
      &.upload {
        display: block;
        width: fit-content;
      }
    }
    & > input {
      margin-top: 8px;
      width: 100%;
      height: 40px;
      padding: 0px 10px;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 400;
      background-color: rgba(249, 248, 255, 1);
      @include center;
    }

    &.edit {
      & > input {
        background-color: $c_bg;
      }
    }

    &.checkbox {
      margin-top: 18px;
      position: relative;
      width: fit-content;
      &:first-child {
        margin-top: 0;
      }
      & > label {
        padding-left: 22px;
        font-size: 12px;
        font-weight: 400;
        color: $c_darkgray;
      }
      & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      & span.checkmark {
        width: 12px;
        height: 12px;
        background-color: rgba(204, 204, 204, 1);
        border-radius: 2px;
        position: absolute;
        top: 0px;
        left: 0px;
        pointer-events: none;
        @include after {
          background-image: url('../img/common/icon_checkmark.svg');
          background-size: 100% 100%;
          width: 7px;
          height: 6px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
        }
      }
      & input:checked ~ .checkmark {
        background-color: $c_blue;
        @include after {
          opacity: 1;
        }
      }
      & .atten {
        margin-top: 4px;
        margin-left: 22px;
        display: block;
      }
    }
    &.radio {
      display: flex;
      align-items: center;
      margin-top: 12px;
      margin-left: 17px;
      column-gap: 13px;
    }
    &.file {
      & > span {
        pointer-events: none;
      }
      input {
        display: none;
      }
    }

    & .atten {
      font-size: 10px;
      font-weight: 400;
      color: #999999;
      &.ml {
        margin-left: 5px;
      }
      &.mt {
        display: block;
        margin-top: 8px;
      }
    }
  }
  &__form-label {
    font-size: 12px;
    font-weight: 400;
    color: $c_darkgray;
    display: inline-block;
  }
  &__form-file {
    position: relative;
    margin-top: 8px;
    padding-top: 10px;
    width: 72px;
    height: 72px;
    background-color: #f9f8ff;
    border-radius: 4px;
    overflow: hidden;
    @include center;
    flex-direction: column;
    & > div {
      position: relative;
      width: 20px;
      height: 20px;
    }
    & span {
      width: 20px;
      height: 2px;
      background-color: $c_blue;
      border-radius: 4px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &:first-child {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
    & > p {
      margin-top: 9px;
      font-size: 8px;
      font-weight: 400;
      color: $c_blue;
      text-align: center;
    }
    &[data-img='header'] {
      margin-top: 15px;
      width: 600px;
      height: 103px;
    }
    &.edit {
      padding-top: 0;
      @include after {
        background-image: url('../img/common/icon_edit_black.svg');
        background-size: 1005 100%;
        width: 17px;
        height: 17px;
        position: absolute;
        bottom: 4px;
        right: 4px;
      }
    }
  }
  &__radio-flex {
    display: flex;
    column-gap: 4px;
    justify-content: start;
    & > label {
      position: relative;
      & input {
        position: relative;
        appearance: none;
        -webkit-appearance: none;
        width: 24px;
        height: 24px;
        border-radius: 6px;
        border: solid 2px transparent;
        background-color: $c_red;
        opacity: 0;
        transition: $transition;
        &:checked {
          opacity: 0.25;
        }
      }
      & > span {
        width: 20px;
        height: 20px;
        background-color: $c_red;
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
      }
      &.yellow {
        & input,
        & span {
          background-color: #edaa52;
        }
      }
      &.green {
        & input,
        & span {
          background-color: #85c458;
        }
      }
      &.cyan {
        & input,
        & span {
          background-color: #2cd0cd;
        }
      }
      &.blue {
        & input,
        & span {
          background-color: #4356e5;
        }
      }
      &.purple {
        & input,
        & span {
          background-color: #b34cdf;
        }
      }
      &.pink {
        & input,
        & span {
          background-color: #ef1e9f;
        }
      }
    }
  }
  &__btn {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
  }

  &__button {
    width: 120px;
    height: 40px;
    font-size: 14px;
  }
}

#icon-preview,
#header-preview {
  background-position: center;
  background-size: cover;
}
