@charset "utf-8";
@use './setting' as *;

@function get_vw($size, $viewport: $vp-sp) {
  @return calc($size / $viewport) * 100vw;
}

@function get_min($size, $viewport: $vp-pc) {
  @return min(#{get_vw($size, $viewport), $size * 1px});
}

@function get_max($size, $viewport: $vp-pc) {
  @return max(#{get_vw($size, $viewport), $size * 1px});
}

@function get_vh($size, $viewport: $vp-sp) {
  @return calc($size / $viewport) * 100vh;
}

// flexのcenter
@mixin center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

// after
@mixin after() {
  &:after {
    display: block;
    content: '';
    @content;
  }
}

// before
@mixin before() {
  &:before {
    display: block;
    content: '';
    @content;
  }
}

// スクロールバー削除
@mixin scrollbar_none {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

// max widthのメディアクエリ
@mixin max-screen($max: $bp_sp) {
  @media only screen and (max-width: $max) {
    @content;
  }
}

// min widthのメディアクエリ
@mixin min-screen($min: $bp_sp) {
  @media only screen and (min-width: $min) {
    @content;
  }
}

@mixin bg-w {
  background-color: $c_white;
  border-radius: get_vw(8, $vp-pc);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
}

@mixin common_h2 {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

@mixin common_hr {
  margin-top: 16px;
  color: $c_bg;
  border-top-width: 2px;
}

@mixin common_link {
  font-size: 10px;
  color: $c_blue;
  text-decoration: underline;
  text-underline-offset: 2px;
}

@mixin hover_opa {
  &:hover {
    opacity: 0.7;
  }
}
