@use '../setting/setting' as var;
@use '../setting/mixin' as *;

.mypage-profile {
  align-self: start;
  // background-color: #fff;
  // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  // border-radius: 16px;
  // padding: 40px 20px 75px;
  width: 100%;
  position: relative;

  &__header {
    @include bg-w;
    height: 40px;
    margin-top: 12px;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .common__title--reload,
    .common__title--update {
      transform: translateY(0);
    }

    .common__title--reload {
      top: 12px;
      left: 16px;
      right: auto;

      button {
        color: #2885e3;
      }
    }
    .common__title--update {
      top: 13px;
      right: 16px;
      left: auto;
    }
  }

  &__wrap {
    position: relative;
    @include bg-w;
  }

  &__noti {
    width: 26px;
    margin-left: auto;
    position: absolute;
    top: -23px;
    right: 0;
    z-index: 1;

    &[data-noti='new'] {
      @include after {
        width: 10px;
        height: 10px;
        background-color: #e62b2b;
        outline: 3px solid #fff;
        border-radius: 50%;
        position: absolute;
        top: -2px;
        right: -4px;
      }
    }
  }

  &__details {
    padding-bottom: 27px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__details--rank {
    position: relative;
    width: 100%;
    height: 94px;
    padding: 7px 0 0;
    border-radius: 8px;
    text-align: center;
    @include before {
      background-image: url('../img/users/account_profile_deco.png');
      background-size: 100% 100%;
      width: 88px;
      height: 92px;
      position: absolute;
      bottom: -8px;
      right: -9px;
    }
    & p {
      font-size: 14px;
      font-weight: 700;
      & span {
        display: block;
        font-size: 7px;
        font-weight: 700;
      }
    }
    &.gold {
      background: linear-gradient(
        to right,
        rgba(255, 174, 0, 1),
        rgba(255, 229, 0, 1)
      );
      & p {
        color: var.$c_gold;
      }
    }
  }

  &__details--img {
    width: 120px;
    height: 120px;
    position: relative;
    margin: -60px auto 0;
    z-index: 1;

    span {
      display: block;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      padding: 3px;
      overflow: hidden;
      position: relative;
      z-index: 1;
    }

    img {
      border-radius: 50%;
      object-fit: cover;
    }

    &[data-rank='gold'] {
      & span {
        background: linear-gradient(
          to right,
          rgba(255, 174, 0, 1),
          rgba(255, 229, 0, 1)
        );
      }
    }
  }

  // &__details--lifetime {
  //   color: #000;
  //   font-family: var.$font-base;
  //   font-size: 16px;
  //   font-weight: var.$w_medium;
  //   margin-top: 12px;
  // }

  &__details--username {
    position: relative;
    margin-top: 8px;
    width: 172px;
    color: #333;
    font-family: var.$font-base;
    font-size: 19px;
    font-weight: var.$w_black;
    text-align: center;
    @include after {
      background-image: url('../img/common/icon_write.svg');
      background-size: 100% 100%;
      width: 13px;
      height: 13px;
      position: absolute;
      top: 0px;
      right: -20px;
    }
  }

  &__details--contact {
    color: #666;
    font-family: var.$font-base;
    font-size: 13px;
    font-weight: var.$w_medium;
    margin-top: 6px;
    width: 220px;
    text-align: center;
    text-wrap-mode: wrap;
    word-wrap: break-word;
    // @include before {
    //   background: transparent url('../img/common/icon_mail.svg') no-repeat;
    //   background-size: contain;
    //   width: 16px;
    //   height: 13px;
    //   margin-right: 7px;
    // }
  }

  &__details--link {
    margin-top: 14px;
    font-size: 10px;
    @include common_link;
  }

  &__sns {
    margin-top: 18px;
    @include center;
    flex-direction: column;
    gap: 8px;
  }

  &__sns--data {
    background-color: #fafafa;
    border-radius: 12px;
    padding: 12px;
    width: 210px;
    @include center;
    flex-direction: column;
  }

  &__sns--icon {
    margin: 0 auto;

    &.yt {
      width: 36px;
    }

    &.ig {
      width: 29px;
    }

    &.tt {
      width: 24px;
    }
  }

  &__sns--link {
    color: #2885e3;
    border-bottom: #2885e3 solid 1px;
    font-family: var.$font-base;
    font-size: 12px;
    font-weight: var.$w_regular;
    display: inline-block;
    text-align: center;
    line-height: 1.3;
    margin-top: 5px;
  }

  &__sns--num {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;

    dl {
      width: 50%;

      &:not(:first-of-type) {
        border-left: 1px solid #efefef;
      }

      dt,
      dd {
        text-align: center;
      }

      dt {
        color: #333;
        font-family: var.$font-base;
        font-size: 16px;
        font-weight: var.$w_regular;
      }

      dd {
        color: #999;
        font-family: var.$font-base;
        font-size: 8px;
        font-weight: var.$w_regular;
        margin-top: 3px;
      }
    }
  }
}
