@use '../setting/setting' as var;
@use '../setting/mixin' as *;

.mypage {
  &__main {
    padding: 20px;

    .nav__link[data-current='mypage'] {
      &:before {
        opacity: 1;
      }
    }
  }

  &__inner {
    // background-color: #fff;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 160px 250px 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0 20px;
    align-items: start;
  }

  &__contents {
    align-self: start;
    width: 100%;
  }
}
