@use '../setting/setting' as var;
@use '../setting/mixin' as *;

.common {
  &-block {
    &__post {
      padding: 0;
    }

    &__post--status {
      width: 68px;
      height: 32px;
      // line-height: 28px;
      border-radius: 32px;
      font-size: 12px;
      text-align: center;
      font-weight: var.$w_bold;
      @include center;
    }

    &__post--table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0;
      margin: 0 auto;
      background: #fcfcfc;
      border-radius: 12px;
      overflow: hidden;
      font-size: 15px;
      th,
      td {
        text-align: left;
        text-wrap-mode: nowrap;
        &:first-of-type {
          padding-left: 50px;
        }

        &:last-of-type {
          padding-right: 50px;
        }
      }

      th {
        padding: 20px 12px;
        background: #fff;
        font-size: 12px;
        color: #999;
        font-weight: var.$w_regular;
        & a {
          color: #999;
        }
        span {
          display: block;
          width: fit-content;
          position: relative;
          z-index: 1;

          @include after {
            background: transparent url('../img/common/icon_arrange.svg')
              no-repeat center;
            background-size: contain;
            width: 5px;
            height: 10px;
            position: absolute;
            top: 3px;
            right: -8px;
          }
        }

        &.fav {
          width: 80px;
        }

        &.sort-desc,
        &.sort-asc span {
          // color: #333;
        }

        &.sort-asc span {
          &:after {
            background-image: url('../img/common/icon_arrange.svg');
            transform: rotate(180deg);
          }
        }

        &.sort-desc span {
          &:after {
            background-image: url('../img/common/icon_arrange.svg');
          }
        }
      }

      td {
        padding: 13px 12px;
        font-size: 14px;
        line-height: 1.3;
        vertical-align: middle;

        &.title {
          min-width: 350px;
          & > span {
            max-width: 350px;
            line-clamp: 1;
            -webkit-line-clamp: 1;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          a {
            color: var.$c_blue;
            // border-bottom: solid 1px #2885e3;
            text-decoration: underline;
            text-underline-offset: 5px;
            line-height: 2.2;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            max-width: 286px;
          }
        }
        &.center {
          text-align: center;
        }
        &.thumb {
          border-radius: 4px;
          overflow: hidden;
          @include center;
          & img {
            width: 40px;
            height: 40px;
            object-fit: contain;
            flex-shrink: 0;
          }
        }

        &.youtube {
          width: 32px;
          height: 32px;
          background: url('../img/common/icon_youtube_purple.svg') no-repeat
            center;
          background-size: 32px auto;

          a {
            display: block;
            width: 100%;
            height: 100%;

            padding: 13px 12px;
          }
        }

        &.icon {
          max-width: 28px;
        }

        &.button {
          width: 60px;
        }

        &.status {
          width: 60px;
          text-align: center;
          width: fit-content;
          font-size: 12px;
          font-weight: 700;
          & .release {
            display: block;
            height: 24px;
            padding-inline: 10px;
            border-radius: 5px;
            background-color: rgba(239, 255, 226, 1);
            color: rgba(11, 198, 26, 1);
            @include center;
          }
        }
        &.name {
          min-width: 248px;
          & > span {
            max-width: 248px;
            line-clamp: 1;
            -webkit-line-clamp: 1;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        &.game-list {
          position: relative;
          width: 190px;
          display: flex;
          column-gap: 10px;
          padding-right: 38px;
          @include after {
            background-image: url('../img/common/icon_ellipses.svg');
            background-size: 100% 100%;
            width: 10px;
            height: 2px;
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
          }
          & > img {
            width: 40px;
            height: 40px;
          }
        }
        &.game-title {
          min-width: 440px;
          & > a {
            max-width: 500px;
            line-clamp: 1;
            -webkit-line-clamp: 1;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        &.authority {
          & > span {
            position: relative;
            width: 60px;
            height: 26px;
            border-radius: 16px;
            font-size: 12px;
            color: var.$c_bg;
            @include center;
            &.admin {
              background-color: var.$c_red;
            }
          }
        }
      }
      tr:last-child td {
      }

      tbody {
        tr {
          &:nth-of-type(even) {
            background-color: #fff;
          }
        }
      }
    }

    &__post--btm {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px 0px;
      margin-top: 20px;

      &:not(:has(.common__button)) {
        justify-content: center;
      }

      &.admin-announce {
        justify-content: flex-start;
      }
    }
  }
}
