@use '../setting/setting' as var;
@use '../setting/mixin' as *;

.common {
  &__modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;

    &.modal-status {
      .common__modal--inner {
        width: 410px;
      }
    }

    &.js--show {
      opacity: 1;
      pointer-events: auto;

      .common__modal--bg {
        opacity: 1;
        transition: opacity 0.3s ease;
      }
      .common__modal--content {
        opacity: 1;
        transform: scale(1);
        pointer-events: none;
        transition: all 0.3s ease;

        .common__modal--inner {
          pointer-events: auto;
        }
      }
    }
    &.js--success {
      .common__modal--success {
        display: block;
      }
      .common__modal--read,
      .common__modal--form {
        display: none;
      }
    }
    .common__body {
      padding-bottom: 40px;
    }
    &--bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0;
      transition: opacity 0.2s ease;
      cursor: pointer;
    }
    &--content {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 2;
      opacity: 0;
      transform: scale(0.9);
      transition: all 0.2s ease;
    }
    &--inner {
      position: relative;
      width: 580px;
      // height: 299px;
      background-color: #fff;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 16px 16px 16px 16px;
      color: #333;
      // width: 100%;
      // height: 100%;
      // left: 0;
      // top: 0;
      // z-index: 2;
    }
    &--success {
      display: none;
      font-size: 14px;
      text-align: center;
    }
    &--form {
      margin-top: 16px;
    }
    &--read {
      font-size: 14px;
      text-align: center;
    }
    &--title {
      font-size: 12px;
      margin-bottom: 6px;
    }
    &--input {
      input {
        width: 100%;
        height: 32px;
        background: #fafafa;
        border-radius: 8px;
        padding: 0 16px;
      }
      &.checkbox {
        margin-top: 8px;
        position: relative;
        width: fit-content;
        margin-left: 72px;
        &:first-child {
          margin-top: 0;
        }
        & > label {
          padding-left: 22px;
          font-size: 12px;
          font-weight: 400;
          color: var.$c_darkgray;
        }
        & input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
        & span {
          width: 12px;
          height: 12px;
          background-color: rgba(204, 204, 204, 1);
          border-radius: 2px;
          position: absolute;
          top: 50%;
          left: 0px;
          transform: translateY(-50%);
        }
      }
      & input:checked ~ .checkmark {
        background-color: var.$c_blue;
      }
    }
    &--group {
      margin-top: 20px;
    }
    &--buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 20px;
    }
    &--tags {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--tag {
      width: 85px;
      height: 40px;
      line-height: 36px;
      border-radius: 40px;
      font-size: 15px;
      margin: 0 10px;
      font-weight: var.$w_bold;
      text-align: center;
      border-width: 2.5px;
    }
    &--button,
    &--close {
      width: 128px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: var.$c_blue;
      color: #fff;
      font-size: 16px;
      border-radius: 4px;
      margin: 16px 0 0;
      cursor: pointer;
      &.disabled {
        opacity: 0.25;
      }

      button {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    &--button--cancel {
      background: var.$c_bg;
      color: var.$c_gray;
    }
  }
}
