@use '../setting/setting' as *;
@use '../setting/mixin' as *;

.nav {
  @include bg-w;
  width: 160px;
  height: 100%;
  padding: 20px 0;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  position: relative;
  & hr {
    @include common_hr;
  }
  &__ham {
    width: 24px;
    height: 18px;
    position: absolute;
    top: 30px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    span {
      background-color: $c_gray;
      width: 100%;
      height: 3px;
      border-radius: 10px;
    }
  }

  &__inner {
    // padding-top: 76px;
    width: 152px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 42px;
    position: relative;
    z-index: 1;
    padding-left: 14px;
    &:last-child {
      margin-top: 15px;
    }
    &:hover,
    &.js--active {
      & p {
        color: $c_blue;
      }
      & .nav__link-icon {
        background-color: $c_blue;
      }
    }
  }

  &__link-icon {
    &.mypage {
      width: 21px;
      height: 21px;
      mask-image: url('../img/common/icon_mypage.svg');
      mask-size: 100% 100%;
      background-color: $c_gray;
      background-size: 100% 100%;
    }
    &.message {
      width: 20px;
      height: 16px;
      mask-image: url('../img/common/icon_message.svg');
      mask-size: 100% 100%;
      background-color: $c_gray;
      background-size: 100% 100%;
    }
    &.announce {
      width: 20px;
      height: 20px;
      mask-image: url('../img/common/icon_announce.svg');
      mask-size: 100% 100%;
      background-color: $c_gray;
      background-size: 100% 100%;
    }
    &.setting {
      width: 23px;
      height: 24px;
      mask-image: url('../img/common/icon_setting.svg');
      mask-size: 100% 100%;
      background-color: $c_gray;
      background-size: 100% 100%;
    }
    &.logout {
      width: 19px;
      height: 20px;
      mask-image: url('../img/common/icon_logout.svg');
      mask-size: 100% 100%;
      background-color: $c_gray;
      background-size: 100% 100%;
    }
  }

  &__icon {
    max-width: 24px;
  }

  &__txt {
    font-family: $font-base;
    color: $c_gray;
    font-size: 12px;
    margin-left: 10px;
  }
}
