@use '../setting/setting' as *;
@use '../setting/mixin' as *;

.admin-top {
  &__contents {
    justify-self: center;
  }
  &__header {
    width: 212px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .common__title--reload,
    .common__title--update {
      transform: translateY(0);
    }

    .common__title--reload {
      top: 12px;
      left: 16px;
      right: auto;

      button {
        color: #2885e3;
      }
    }
    .common__title--update {
      top: 13px;
      right: 16px;
      left: auto;
    }
  }
  &__block {
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    &--item {
      @include bg-w;
      position: relative;
      width: 300px;
      height: 77px;
      padding: 12px 0;
      @include center;
      flex-direction: column;
      & > p {
        font-size: 10px;
        text-align: center;
      }
      & > strong {
        // margin-top: 6px;
        font-size: 34px;
        color: $c_blue;
      }
      & > a {
        position: absolute;
        top: 12px;
        right: 15px;
      }
      &.new {
        @include before {
          background-color: $c_red;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          position: absolute;
          top: 10px;
          left: 10px;
        }
      }
    }
  }
  &__campaign {
    @include bg-w;
    position: relative;
    height: 236px;
    padding: 12px 18px;
    & > p {
      font-size: 10px;
      text-align: center;
    }
    & > a {
      display: block;
      position: absolute;
      top: 12px;
      right: 16px;
    }
  }
  &__swiper {
    width: 170px;
    margin-top: 10px;
    padding-bottom: 22px;
  }
  &__swiper-wrapper {
  }
  &__swiper-slide {
    position: relative;
    width: 170px;
    height: 170px;
    color: $c_white;
    &--thumb {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      @include before {
        background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        width: 100%;
        height: 80px;
        position: absolute;
        bottom: 0px;
        left: 0;
        pointer-events: none;
      }
      & > img {
        object-fit: cover;
      }
    }
    & > a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      padding: 110px 8px 8px;
      border-radius: 8px;
      overflow: hidden;
    }
    & p {
      position: relative;
      font-size: 12px;
      font-weight: 400;
      line-height: calc(16 / 12);
      color: $c_white;
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
    }
    & span {
      position: relative;
      display: block;
      margin-top: 6px;
      font-size: 10px;
      font-weight: 400;
      color: $c_lightgray;
    }
  }
  &__swiper-pagination {
    &.swiper-pagination {
      top: auto;
      bottom: 0px;
    }
  }
  &__video {
    @include bg-w;
    width: 100%;
    padding: 0px 18px;
    @include center;
    flex-direction: column;
    & > p {
      font-size: 10px;
      text-align: center;
    }
    &--list {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      column-gap: 10px;
    }
    &--box {
      width: 218px;
      padding-bottom: 10px;
      background-color: $c_bg;
      border-radius: 8px;
      & strong {
        display: block;
        width: 168px;
        margin-top: 6px;
        margin-inline: auto;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
      }
    }
  }
  &__video-txt {
    width: 168px;
    margin-top: 6px;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__video-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
    & > p {
      font-size: 8px;
      font-weight: 400;
    }
    & > span {
      font-size: 12px;
      font-weight: 700;
      color: $c_blue;
    }
  }
}
